// @module
// themes/interface/src/scss/modules/_cookies_layer.scss
// Cookies Layer
// -----------------------------------------------------------------------------

// Variables
// --------------------------------------------------
$ck_background: $white;
$ck_fontsize: 18px;
$ck_lineheight: 23px;
$ck_heading_color: $black;
$ck_txtcolor: $black;

// Components
// --------------------------------------------------
#sliding-popup {
  &.sliding-popup-bottom {
    background: $ck_background;
    box-shadow: 1px 3px 12px 0 rgba(0, 0, 0, .14);
  }

  .popup-content {
    //@include clearfix;
    //@extend .container-fluid;
    display: flex;
    flex-direction: column;
    @include rem(padding, 15px 30px !important);
    align-items: flex-start;

    #popup-text {
      margin-bottom: 10px;
      text-align: left;

      h2 {
        color: $ck_heading_color;
      }

      p {
        font-size: $ck_fontsize;
        color: $ck_txtcolor;
        margin-bottom: 9px;

        a {
          @extend .permalink;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    #popup-buttons {
      margin-right: auto;

      .agree-button {
        @extend .btn-primary;
        @include rem(padding-right, 51px);
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        position: relative;

        &, b {
          //font-family: $font-source-regular;
        }

        &:hover:after {
          color: $primary;
        }

        &:after {
          content: $icon-close;
          position: absolute;
          top: 50%;
          right: 20px;
          @include rem(font-size, 15px);
          color: $white;
          transform: translateY(-50%);
          font-family: 'vactory';
          transition: color 300ms ease-in;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #sliding-popup {
    .popup-content {
      @include rem(padding, 15px 50px !important);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      #popup-text {
        margin-bottom: 0;
      }

      #popup-buttons {
        margin-left: 0 !important;
        margin-right: 0;
      }
    }
  }
}
