$input-font-size: .95rem !default;
/*
 * webforms custom style
*/

// Fix Firefox size attribute width
input[size] {
  min-width: 0;
}

// webform input file
// File
//
// Custom file input.
.skinned-file {
  .form-managed-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: $custom-file-height;
    margin-bottom: 0;
    font-size: $input-font-size;

    @include transition($input-transition);
  }

  input[type='file'] {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: $custom-file-width;
    height: $custom-file-height;
    margin: 0;
    padding: 0;
    opacity: 0;


    &:not(:disabled):hover {
      cursor: pointer;
    }
  }

  .webform-managed-file-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    height: $custom-file-height;
    padding: $custom-file-padding-x $custom-file-padding-y;
    line-height: $custom-file-line-height;
    color: $custom-file-color;
    background-color: $custom-file-bg;
    border: $custom-file-border-width solid $custom-file-border-color;
    font-weight: $font-weight-normal;
    box-shadow: $custom-file-box-shadow;

    @include transition(box-shadow $transition-duration $ease-in-out-circ, border-color $transition-duration $ease-in-out-circ);
    @include border-radius($custom-file-border-radius);

    &:hover {
      cursor: pointer;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      content: "Browse";
      padding: $custom-file-padding-x $custom-file-padding-y;
      // height: $custom-file-height-inner;
      height: 100%;
      line-height: $custom-file-line-height;
      color: $custom-file-button-color;
      border-left: $custom-file-border-width solid $custom-file-border-color;

      @include gradient-bg($custom-file-button-bg);
      @include border-radius(0 $custom-file-border-radius $custom-file-border-radius 0);

      @include rtl() {
        right: auto;
        left: 0;
        border-left: $custom-file-border-width solid $custom-file-border-color;
        border-right: 0;
      }
    }
  }

  @each $lang, $value in $custom-file-text {
    &:lang(#{$lang}) ~ .managed-file-placeholder::after {
      content: $value;
    }
  }
}

// fix icheck padding
.form-check {
  div[class^="icheckbox_"],
  div[class^="iradio_"] {
    margin-left: -($form-check-input-gutter);
  }
}

@include media-breakpoint-down(lg) {
  form {
    label.label-inline {
      display: inline-block;
    }
  }
}

@include media-breakpoint-up(lg) {
  form {
    .items-wrapper:not(fieldset),
    .items-wrapper .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;

      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;

      > div,
      > .form-item {
        flex: 1;
        max-width: 100%;
        align-items: center;
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
      }

      .form-control {
        flex: 1;
      }
    }

    .items-2-col {
      > .form-item,
      > div:not(.fieldset-wrapper),
      .fieldset-wrapper > .form-item,
      .fieldset-wrapper > div {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    .items-3-col {
      > .form-item,
      > div:not(.fieldset-wrapper),
      .fieldset-wrapper > .form-item,
      .fieldset-wrapper > div {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }

    .items-4-col {
      > .form-item,
      > div:not(.fieldset-wrapper),
      .fieldset-wrapper > .form-item,
      .fieldset-wrapper > div {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .title-inline {
      display: flex;

      label.label-inline {
        width: 35%;
        align-self: center;
      }

      .form-textarea-wrapper {
        width: 100%;
      }

    }
  }
}
