.modal-dialog-scrollable {
    display: flex; // IE10/11
    max-height: calc(100% - #{$modal-dialog-margin * 2});
  
    .modal-content {
      max-height: calc(100vh - #{$modal-dialog-margin * 2}); // IE10/11
      overflow: hidden;
    }
  
    .modal-header,
    .modal-footer {
      flex-shrink: 0;
    }
  
    .modal-body {
      overflow-y: auto;
    }
}

@include media-breakpoint-up(sm) {
    .modal-dialog-scrollable {
        max-height: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});
    
        .modal-content {
          max-height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
        }
    }
}