
$icon-size:64px;
$icon-size-mobile : 50px;
$range-color: #EAEAEA;
// satisfaction range Boutons radios	
 
.satisfaction-range {
    .js-webform-radios {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        text-align: left;
    }
    .radio {
        position: relative;
        margin: 0;
        padding: 0 0 50px;
        flex: 1 1;
        &::after {
            content: "";
            position: absolute;
            @include rem(width, 3px);
            height: 100%;
            background: $range-color;
            z-index: 0;
            top: 0;
            @include rem(left, -22px);
            @include rtl(){
                @include rem(right, -22px);
            }
        }  
        
        &::before {
            content: "";
            width: $icon-size-mobile;
            height: $icon-size-mobile;
            position: absolute;
            @include rem(left, -100px);
            @include rem(top, -15px);
            background-size: cover;
            opacity: 0;
        }
        &.active {
            &::before {
                opacity: 1;
                animation-name: animation-emoji;
                animation-duration: 2s;
            }
        }
        
        &.emoji-sad {
            &::before {
                background-image: url('../img/sad.png');
            }
        }
        &.emoji-meh {
            &::before {
                background-image: url('../img/meh.png');
            } 
        }
        &.emoji-happy {
            &::before {
                background-image: url('../img/happy.png');
            }
        }
        &.emoji-very_sad {
            &::before {
                background-image: url('../img/very_sad.png');
            }
        }
        
        label{
            cursor: pointer;
            @include rem(font-size, 14px);
            @include rem(line-height, 24px);
            white-space: nowrap;
            font-weight: 500;
            &::before{
                position: absolute;
                display: block;
                content: "";
                @include rem(top, -5px);
                @include rem(left, -35px);
                @include rem(width, 30px);
                @include rem(height, 30px);
                background: $range-color;
                border: 2px solid $white;
                z-index: 1;
                border-radius: 50%;
            }
            
        }
        input[type='radio']{
            opacity: 0;
            margin: 0;
            left: 50%;
            &:checked ~ label::before {
                background: $primary;
            }
        }
    }
    .panel-heading {
        font-weight: 600;
        color: $black;
        @include rem(margin-bottom, 60px);
        @include rem(font-size, 20px);
    }

    @keyframes animation-emoji {
        from,
        20%,
        53%,
        80%,
        to {
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, 0, 0);
        }
        40%,
        43% {
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          transform: translate3d(0, -10px, 0);
        }
        70% {
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          transform: translate3d(0, -8px, 0);
        }
        90% {
          transform: translate3d(0, -4px, 0);
        }
    }
}

.satisfaction-wrapper {
    @include rem(padding, 45px 20px 0);  
    @include rem(margin-bottom, 50px);
    border: 1px solid $custom-file-border-color;
    @include rem(border-radius, 27px);
    text-align: center;
}

@include media-breakpoint-down(md) {
    .satisfaction-range {
        .js-webform-radios {
            @include rem(margin-left, 115px);
            @include rtl() {
                margin-left: initial;
                @include rem(margin-right, 115px);
            }
        }
        .radio {
            &:first-of-type {
                flex: 0;
                padding: 0;
                &::after {
                    display: none;
                }
            }
            @include rtl() {
                text-align: right;
                &::before {
                    @include rem(right, -100px);
                }
            }
            label {
                &::before {
                    @include rtl(){
                        @include rem(right, -35px);
                    }
                }
            }
            
        }
    }
}

@include media-breakpoint-up(lg) {

    .satisfaction-wrapper {
        @include rem(padding, 50px 90px 0);
    }

    .satisfaction-range {
        .js-webform-radios {
            justify-content: space-between;
            flex-direction: row;
            text-align: center;
        }
        .radio {
            padding: 0;
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
            &::after {
                width: 100%;
                @include rem(height, 3px);
                @include rem(top, -22px);
                left: 50%;
                @include rtl(){
                    right: 50%;
                }
            }
           
            &::before {
                width: $icon-size;
                height: $icon-size;
                left: 50%;
                top: -120%;
                transform: translate(-50%,-100%);
            }
            

            label{
                @include rem(font-size, 16px);
                &::before{
                    top: -36px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
            }
            
        }
        .panel-heading {
            @include rem(margin-bottom, 120px);
        }
    }

    @keyframes animation-emoji {
        from,
        20%,
        53%,
        80%,
        to {
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(-50%, -100%, 0);
        }
        40%,
        43% {
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          transform: translate3d(-50%, calc(-100% - -10px), 0);
        }
        70% {
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          transform: translate3d(-50%, calc(-100% - -8px), 0);
        }
        90% {
          transform: translate3d(-50%, calc(-100% - -4px), 0);
        }
    }
}