
/* Swipers Variables */

$swiper-dots-height: 12px;
$swiper-dots-width: 12px;
$swiper-dots-radius: 100%;
$swiper-dots-border-size: 0px;
$swiper-dots-border-color: $gray-700;
$swiper-dots-bg: $white;
$swiper-dots-opacity: .4;
$swiper-dots-items-margin-y: 8px;


.swiper-container-horizontal + .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-vertical + .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets,
.swiper-container-vertical + .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px,-50%,0);
  left: auto !important;
  bottom: auto !important;
  transition: none !important;
}


.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    width: $swiper-dots-width;
    height: $swiper-dots-height;
    background: $swiper-dots-bg;
    opacity: $swiper-dots-opacity;
    border: $swiper-dots-border-size solid $swiper-dots-border-color;
    border-radius: $swiper-dots-radius;
    transition: all .3s ease-in;
    margin: 0 4px;

    & .swiper-container-horizontal > {
      margin: 0 $swiper-dots-items-margin-y;
    }
    &-active {
      opacity: 1;
      background: $primary;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: auto;
  bottom: 0;
  &:after {
    @include rem(font-size, 26px);
  }
}


@include media-breakpoint-up(lg) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
    bottom: auto;
    &:after {
      @include rem(font-size, 44px);
    }
  }
}
