// @mixin
// pseudo
//
// src/scss/mixins/elements/_pseudo.scss
// -----------------------------------------------------------------------------

/**
 * pseudo($display: block, $pos: absolute, $content: ''):
 * When using ::before and ::after you'll always need these three,
 * so we're saving two lines of code every time you use this.
 * See below an example of using it without any arguments
 * <br>
 * <b>Parameters:</b>
 * <ul>
 * <li>`display` — specifies the type of box used for an HTML element..</li>
 * <li>`pos` — the type of positioning method used for an element (static, relative, absolute or fixed)..</li>
 * <li>`content` — the insert generated content used with the :before and :after pseudo-elements.</li>
 * </ul>
 *
 * ```scss
 * div::after {
 *  @include pseudo;
 *  top: -1rem;
 *  left: -1rem;
 *  width: 1rem;
 *  height: 1rem;
 * }
 * ```
 */

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
