// @mixin
// responsive-ratio
//
// src/scss/mixins/responsive/_responsive-ratio.scss
// -----------------------------------------------------------------------------
/**
 * responsive-ratio($x, $y, $pseudo: false):
 * We use this for creating scalable elements (usually images / background images) that maintain a ratio..
 * So to use this you could write the below and your div would have a ratio commonly utilised by video.
 * <br>
 * <b>Parameters:</b>
 * <ul>
 * <li>`x` — Ratio width.</li>
 * <li>`y` — Ratio height.</li>
 * <li>`pseudo` — Use pseudo element instead.</li>
 * </ul>
 *
 * ```scss
 * .div {
 *  @include responsive-ratio(16,9);
 * }
 * ```
 */
@import "pseudo";

@mixin responsive-ratio($x, $y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + "%");
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
