// @placeholder
// Sr-only
//
// src/scss/utilities/text/_sr-only.scss
// -----------------------------------------------------------------------------

/**
 * %sr-only:
 * Hide an element to all devices except screen readers with .sr-only.
 * ```scss
 * .my-text-element {
 *  @extend %sr-only;
 * }
 * ```
 */

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
