// @mixin
// css-triangle
//
// src/scss/mixins/ui/_triangles.scss
// -----------------------------------------------------------------------------
/**
 * css-triangle-ratio($color, $direction, $size: 6px, $position: absolute, $round: false):
 * This mixin takes all the hassle out of creating that triangle you'll see coming out of most traditional tooltips,
 * all without images, you just specify it's colour, how big you want it, the direction it's going to come out of your
 * element and you're done!
 * <br>
 * <b>Parameters:</b>
 * <ul>
 * <li>`color` — Triangle color.</li>
 * <li>`direction` — [up, down, right, left].</li>
 * <li>`size` — Triangle size.</li>
 * <li>`position` — [relative, absolute].</li>
 * <li>`round` — Apply 3px order radius.</li>
 * </ul>
 *
 * ```scss
 * .div:before {
 *  @include css-triangle($brand-primary,down, 10px, absolute, false);
 * }
 * ```
 */
@import "pseudo";

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}
