:root {
  // initialize safe area variables for notch screen
  // add support for old ios 11 browser iphone X
  --c-safe-area-inset-top: constant(safe-area-inset-top);
  --c-safe-area-inset-bottom: constant(safe-area-inset-bottom);
  --c-safe-area-inset-left: constant(safe-area-inset-left);
  --c-safe-area-inset-right: constant(safe-area-inset-right);

  // support for ios 12 and above
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);
}

* {
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  position: relative;
  background: $body-bg;

  &.js body.no-scroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.screen-disable__scroll {
    &,
    body {
      height: 100%;
      overflow: hidden;
    }
  }

  body {
    height: 100%;
    background-color: $body-bg;
    color: $body-color;
    visibility: visible;
    overflow-y: visible;
    overflow-x: hidden;
    /*rtl:raw:
    direction: rtl;
    */

    &.overflow-y {
      overflow-y: hidden;
    }

    .mdi:before,
    .mdi-set {
      line-height: initial;
    }

    &.cke_editable {
      padding: 0 !important;
      background-color: transparent !important;

      .d-none,
      .d-md-none,
      .d-lg-none {
        display: block !important;
      }
    }
  }

  main{
    overflow-x: hidden;
    width: 100%;
  }
}
