{#
/**
 * @file
 * This is a template file for a pop-up prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the pop-up
 * - agree_button: Label for the agree button
 * - disagree_button: Label for the disagree button
 */
#}

<div>
  <div class ="popup-content info pt-3 pb-3">
    <div id="popup-text">
      {{ message }}
    </div>
    <div id="popup-buttons" class="ml-auto">
      <a href="#." class="agree-button btn btn-outline-primary mb-2 mt-2"><b>{{ agree_button }}</b></a>
      <a href="#." class="find-more-button btn btn-outline-warning mb-2 mt-2">{{ disagree_button }}</a>
    </div>
  </div>
</div>
