@import url("//fonts.googleapis.com/css?family=Cairo:300,400,700");

$font-family-sans-serif:      'Cairo', sans-serif;
$font-family-monospace:       'Cairo', sans-serif;
$font-family-base:            'Cairo', sans-serif;

$headings-font-family: 'Cairo', sans-serif;
