// Fonts
// -----------------------------------------------------------------------------
@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$headings-font-family: 'Montserrat', sans-serif;
