// Fonts
// -----------------------------------------------------------------------------
@import "tajawal";
// -----------------------------------------------------------------------------

$font-family-opensans: 'Tajawal';
$font-family-quicksand: 'Tajawal';
$font-family-tajawal: 'Tajawal';

$font-family-sans-serif:      Tajawal, "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

$headings-font-family:        $font-family-sans-serif;
