// Theme Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Social Colors
// ====================================================================

$facebook           : #365397;
$twitter            : #00a9f1;
$linkedin           : #006db3;
$google_plus        : #e0452c;
$youtube            : #ff3333;
$vimeo              : #48b6ed;
$pinterest          : #ce1a19;
$skype              : #00acf4;
$instagram          : #396d9a;
$github             : #2f2f2f;
$drupal             : #0c76ab;
$bitbucket          : #205081;

$media-colors: () !default;
$media-colors: map-merge((
  "facebook": $facebook,
  "twitter": $twitter,
  "linkedin": $linkedin,
  "google_plus": $google_plus,
  "youtube": $youtube,
  "vimeo": $vimeo,
  "pinterest": $pinterest,
  "skype": $skype,
  "instagram": $instagram,
  "github": $github,
  "drupal": $drupal,
  "bitbucket": $bitbucket
), $media-colors);

// Icomoon path.
// -----------------------------------------------------------------------------
$icomoon-font-path: "../fonts/icons-font/vactory-icons-font/fonts" !default;

// Overiddes Default variables for the Hamburger Menu
// ==================================================
$hamburger-padding-x: 5px;
$hamburger-padding-y: 4px;
$hamburger-layer-width: 24px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $black;
$hamburger-layer-border-radius: 5px;
$hamburger-hover-opacity: .7;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter: opacity(50%);
$hamburger-active-hover-filter: $hamburger-hover-filter;

// Transition
// -----------------------------------------------------------------------------
$transition-duration: 250ms;
// Easings
$ease-in-out-circ: cubic-bezier(.27, .01, .38, 1.06);

// Background color filter 
$bg-filter-color: $black;

// Paragraph Padding 
$paragraph-lg: 100px;
$paragraph-sm: 64px;

// Splashsreen Padding
$splash-lg: 50px;
$splash-sm: 20px;